<%- include('./../components/start.inc.ejs') %>

<div class="container">

    <div class="centered">
        
        <div class="form-container">
            
            <div class="form-logo">
                <h2>Register</h2>
            </div>
    
            <% if (errorMessage) { %>
                <p style="color: red;"><%= errorMessage %></p>
            <% } %>
    
            <div class="form-group">
    
                <form method="POST">
    
                    <div>
                        <input type="text" placeholder="Username"
                            name="username" required>
                    </div>
                    <div>
                        <input type="password" placeholder="Password"
                            name="password" required>
                    </div>
                    <div>
                       <input type="text" placeholder="Invite"
                            name="code" required>
                    </div>
                    <button name="login" id="submit" type="submit"
                        value="submit"> 
                        Register
                    </button>
    
                </form>
    
            </div>
    
            <div class="undertext">
                Already have an account? <a href="/auth/login">Login</a>
            </div>
    
        </div>

    </div>

</div>

<%- include('./../components/end.inc.ejs') %>